html {
    background-image: url('../../assets/keyboard_wallpaper.mp4');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.card {
    background-color: rgba(245,245,245,0.4)!important;
}

@media only screen and (max-width: 900px) {
    html {
        background-image: url('../../assets/homepage_mobile.png');
        background-repeat: no-repeat;
        background-position: fixed;
        background-size: cover;
        height: 100%;
    }
  }