html {
    background-image: url('../../assets/keyboard_wallpaper.mp4');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.card {
    background-color: rgba(245,245,245,0.4)!important;
}